<ion-view view-title="Payment">
  <ion-content>
    <h1>{{data}}</h1>
    <ion-list inset>
        <div class="col">
            <label class="item item-input">
              <input type="text" placeholder="Numero de tarjeta">
            </label> 
        </div>
        <div class="col col-25">
            <label class="item item-input">
              <input type="text" placeholder="Mes">
            </label>
        </div>
        <div class="col col-25">
            <label class="item item-input">
              <input type="text" placeholder="Año">
            </label>
        </div>
        <div class="col col-50">
            <label class="item item-input">
              <input type="text" placeholder="CVV">
            </label>
        </div>
        <div class="list col" ng-controller="MyCtrl">

          <div class="item item-input item-select">
            <div class="input-label">
            </div>
            <select ng-model="country" ng-init="country=countries[47]" ng-options="country.name for country in countries"></select></div>
          <div class="item item-input item-input">
            <span class="input-label">Number</span>
            <input type="text" ng-model="country.dial_code">
          </div>
          <p> {{ country | json}} </p>
        </div> 
    </ion-list>
  </ion-content>
</ion-view>
