/*

Custom styles for bussapp aplication

*/
@import "www/lib/ionic/scss/variables.scss";

// Color Variables for bussapp

    // Buttons

    $purple: #1d073e;
    $grey: #737373;






// Header Bar styles

.bar.bar-header {
    background: $grey !important;
    .title, .ion-navicon:before, .icon.ion-ios-arrow-back, .back-text {
        color: $light;
    }
}

// Side Menu Styles

.menu.menu-left {
    background: $purple;
    ion-item.item {
        color: $light;
        background: transparent;
        a {
            background: $purple;
        }
    }
}

// List of routes (Main page after login) styles

ion-content.card-background-page { 
  overflow: hidden;
  ion-card {
    position: relative;
    text-align: left;
      img {
        width: 100%;
        height: 100%;
      }
  }

  .card-title {
    position: absolute;
    bottom: 20%;
    font-size: 1.0em;
    width: 100%;
      padding-left: 1em;
    font-weight: bold;
    color: $light;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 13%;
    padding-left: 1em;
    width: 100%;
    color: $light;
  }
  h2 {
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    width: 100%;
  }
    p {
        position: absolute;
        bottom: 8%;
        right: 5%;
        line-height: 47px;
        width: 94px;
        height: 47px;
        text-align: center;
        color: white;
        border: 1px solid white;
        background: $purple;
    }
}

// styles for payment form


.payment {
    .col {
        float: left;
    }
    .list.col {
        .item {
            margin-bottom: 10px;
        }
        .item-select {
            height: 47px;
        }
        .save {
            border: 0;
        }
    }
}

// Footer styles
.bar.bar-footer {
    background: transparent;
}