/*

Custom styles for bussapp aplication

*/
.bar.bar-header {
  background: #737373 !important; }
  .bar.bar-header .title, .bar.bar-header .ion-navicon:before, .bar.bar-header .icon.ion-ios-arrow-back, .bar.bar-header .back-text {
    color: #fff; }

.menu.menu-left {
  background: #1d073e; }
  .menu.menu-left ion-item.item {
    color: #fff;
    background: transparent; }
    .menu.menu-left ion-item.item a {
      background: #1d073e; }

ion-content.card-background-page {
  overflow: hidden; }
  ion-content.card-background-page ion-card {
    position: relative;
    text-align: left; }
    ion-content.card-background-page ion-card img {
      width: 100%;
      height: 100%; }
  ion-content.card-background-page .card-title {
    position: absolute;
    bottom: 20%;
    font-size: 1.0em;
    width: 100%;
    padding-left: 1em;
    font-weight: bold;
    color: #fff; }
  ion-content.card-background-page .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 13%;
    padding-left: 1em;
    width: 100%;
    color: #fff; }
  ion-content.card-background-page h2 {
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    width: 100%; }
  ion-content.card-background-page p {
    position: absolute;
    bottom: 8%;
    right: 5%;
    line-height: 47px;
    width: 94px;
    height: 47px;
    text-align: center;
    color: white;
    border: 1px solid white;
    background: #1d073e; }

.payment .col {
  float: left; }

.payment .list.col .item {
  margin-bottom: 10px; }

.payment .list.col .item-select {
  height: 47px; }

.payment .list.col .save {
  border: 0; }

.bar.bar-footer {
  background: transparent; }
